@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* CSS Variables */
:root {
    --logo-font: "Cherry Bomb One", system-ui;
    --header-font: "Inter", sans-serif;
    --body-font: "Lato", sans-serif;

    --primary: #a38be4;
    --secondary: #531be7;

    --body-bg: #141317;
    --post-bg: #1e1c24;
    --post-border: #383442;
    --btn-clr: #3d394a;
}


/* General styling for all elements */
* {
    margin: 0;
    transition: 200ms;
    font-family: var(--body-font);
    color: #e9f6e9;
    text-decoration: none;
}


/* Body and multiple use simple classes styling */
body {
    position: relative;
    width: calc(100vw - 70px);
    overflow-x: hidden;
    padding: 35px;
    transition: 0s;
    background: var(--body-bg);

    display: flex;
    justify-content: center;
    gap: 70px;

    .btn1 {
        padding: 10px 15px;
        border: solid 1px var(--post-border);
        background: var(--post-bg);
        border-radius: 10px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
    }
    .btn1:hover { box-shadow: inset 0 0 100vw #0003; }
}


/* Styling for main display div and all its contents */
section.mainWidget {
    width: 800px;
    position: relative;

    .editBtns {
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 50px;
        left: 0px;
        transform: translateX(-120%);

        .backBtn { display: flex; }

        > *::before {
            display: inline-block;
            height: 18px;
            aspect-ratio: 1;
            margin-right: 5px;
            transform: translateY(2px);
            color: #d3cfe6;
        }
        .edit::before { content: url(./img/icons/pencil.svg); }
        .backBtn::before { content: "➜"; transform: translateY(7px) rotate(180deg); }
        .workout::before { content: url(./img/icons/stopwatch.svg); }
        .btn1.workout {
            border: solid 1px #8bc7e440;
            background: #8bd3e40f;
        }
    }


    /* Styling for login / sign up form */
    .login_select {
        .userId_list { display: none !important; }
        .login_tabs {
            display: flex;

            div {
                background: var(--post-bg);
                width: 100%;
                text-align: center;
                cursor: pointer;
                padding: 20px;
                border: solid 1px var(--post-border);
                
                font-size: 20px;
                font-weight: 900;
                font-family: var(--header-font);
            }
            .sign_up {
                border-radius: 10px 0 0;
                border-right: none;
            }
            .log_in { border-radius: 0 10px 0 0; }
        }
        form {
            background: var(--post-bg);
            border: solid 1px var(--post-border);
            border-top: none;
            border-radius: 0 0 10px 10px;
            padding: 20px;

            > div {
                display: flex;
                gap: 15px;
                position: relative;

                div { width: 100%; }
            }
            
            input, textarea {
                max-width: calc(100% - 20px);
                min-width: calc(100% - 20px);
                background: var(--body-bg);
                border: none;
                border-radius: 10px;
                border: solid 1px var(--post-border);
                padding: 5px 10px;
            }
            :is(input, textarea):focus-visible { outline: none; }
            textarea {
                min-height: 40px;
                max-height: 40px;
            }
            
            > :not(button) { margin-bottom: 10px; }
            label {
                margin-bottom: 5px;
                margin-left: 5px;
                display: inline-block;
                font-weight: 600
            }
            .btn1.invalid {
                opacity: .6;
                pointer-events: none;
                cursor: none;
            }
        }
        form:has(input[required]:invalid) button { opacity: .6; }
    }


    .groups, .plans, .plan {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        border: solid 1px var(--post-border);
        background: var(--post-bg);
        border-radius: 10px;
        width: calc(100% - 0px);
        /* overflow: hidden; */
        
        nav {
            padding: 15px;
            border-bottom: solid 1px var(--post-border);

            h1 {
                font-family: var(--logo-font);
                color: var(--primary);
                font-size: 40px;
                line-height: 34px;
                text-wrap: wrap;

                span {
                    font-family: "Racing Sans One", sans-serif;
                    color: #e18be4;
                }
            }
            h3 {
                font-size: 16px;
                margin: 6px 0px 0px 12px;
                font-weight: 500;
                opacity: .5;

                span { font-weight: 600; }
            }
            h3:hover { opacity: .8; }
        }

        .editForm.invisible { display: none !important; }
        .editForm {
            .editForm_form {
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 0 15px 15px 15px;
                border-bottom: solid 1px var(--post-border);
    
                > div {
                    display: flex;
                    gap: 15px;
                    width: 100%;

                    * { 
                        min-width: max-content;
                        padding: 6px 15px;
                        outline: none !important;
                    }
                }
            }
            button span { padding: 0 !important; }
            button::before {
                display: inline-block;
                height: 18px;
                aspect-ratio: 1;
                margin-right: 5px;
                color: #d3cfe6;
            }
            button:not(.add_user_group)::before { transform: translateY(2px); }

            .rename_plan::before, .rename_group::before { content: url(./img/icons/pencil.svg); }
            .delete_plan::before, .delete_group::before, .usersRemove button::before { content: url(./img/icons/trash.svg); }
            .add_user_group::before { content: "+"; }

            .rename_plan_txt, .rename_group_txt, .add_user_group_txt { 
                width: 100%;
                cursor: text;
                background: #0001;
            }
            .rename_plan, .rename_group {
                background: #ff6eb610;
                border-color: #ff6eb625;
            }
            .add_user_group {
                background: #00ff0007;
                border-color: #00ff0017;
            }
            .delete_plan, .delete_group, .usersRemove button {
                background: #c7000010;
                border-color: #ff000020;
            }

            .usersRemove {
                display: flex;
                gap: 10px;
                padding: 15px 15px 15px 15px;
                border-bottom: solid 1px var(--post-border);

                button {
                    font-size: 16px;
                    padding: 5px 10px;
                }
            }
        }

        .groupsList {
            display: flex;
            flex-direction: column;

            a:first-child { margin-top: -8px; }
            a {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 8px 25px 8px 25px;
                font-size: 18px;

                svg { min-width: 26px; max-width: 26px; }
                .g_name {
                    border-right: solid 2px var(--btn-clr);
                    width: 100%;
                }
                > * { min-width: fit-content; }
            }
        } .groupsList + .underTableBtns { margin: 5px 0 25px; }

        table {
            padding-inline: 15px;
            text-align: left;

            th, td { padding: 2px 6px; }
            td:not(:last-child, :has(+ script)) { border-right: solid 1px var(--btn-clr); }
        }

        .groupTable {
            margin-bottom: 15px;
            
            th:first-child, td:first-child {
                width: 0px;
                font-weight: 600;
            }

            form { padding: 0 !important; }
            .addPlanBtn {
                padding: 0;
                width: 100%;
                border-radius: 20px;
                font-weight: 700;
                font-size: 17px;
                cursor: pointer;
                border: solid 1px #8bc7e420;
                background: #8bd4e409;
            }
            .addPlanBtn:hover { box-shadow: inset 0 0 0 100vw #0001; }
        }

        .planTable {
            table-layout: fixed;
            th { min-width: max-content; padding-right: 25px; }
            .exer_name { width: 100%; font-weight: 600; text-transform: capitalize; }

            input {
                border-radius: 4px;
                background: #0002;
                border: none;
                outline: none;
                padding: 6px 12px;
                width: calc(100% - 26px);
            }

            .set_row .set_row_plan_setNote button {
                position: absolute;
                left: 0; top: 50%;
                transform-origin: center;
                transform: translate(20%, -60%) rotate(90deg);
                font-size: 16px;
                font-weight: 900;
            }
            tr[id^="exercise_"] + .set_row:has(+ .set_row.hide_set) .set_row_plan_setNote button { transform: translate(20%, -60%) rotate(0deg); }
            tr[id^="exercise_"] ~ tr[id^="exercise_"] th { padding-top: 15px !important; }
            .set_row.hide_set { display: none; }

            .set_row.add_set td button { 
                width: 100%;
                text-align: left;
                font-size: 15px;

                span { font-weight: 900; }
            }

            .set_row .set_row_plan_setNote, .set_row.add_set td {
                padding-left: 25px;
                position: relative;
            }

            .set_row .remove:not(:has(svg)) button {
                font-size: 18px;
                font-weight: 900;
                position: relative;
                height: 23px;
                width: 18px;

                span {
                    position: absolute; left: 50%;
                    transform: translate(-30%, -85%);
                }
            }

            button {
                background: none;
                border: none;
                width: 20px;
                cursor: pointer;
                padding: 0;
            }
            button:hover { opacity: .7; }
        }
        .underTableBtns {
            position: relative;
            padding-inline: 20px;
            padding-bottom: 25px;
            display: flex;
            gap: 15px;

            .add_exercise_id {
                position: relative;
                width: 100%;

                input {
                    width: calc(100% - 30px);
                    border: solid 1px var(--post-border);
                    outline: none !important;
                    padding: 6px 15px;
                    border-radius: 10px;
                    font-size: 18px;
                    background: #0001;
                }

                ul {
                    width: 100%;
                    position: absolute;

                    top: calc(100% + 20px);
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;

                    padding: 0;
                    border: solid 1px var(--post-border);
                    border-radius: 10px;
                    background: #1c1a22;
                    overflow: hidden;

                    li {
                        cursor: pointer;
                        padding: 12px 12px;
                        font-weight: 700;
                    }
                    li:nth-child(even) { background: #ffffff05; }
                    li:nth-child(n+7) { display: none; }

                    li:has(+ li) { padding-bottom: 8px; } li + li { padding-top: 6px; }
                    li::marker { content: none; } li::before { content: "+ "; }
                }
                ul.open {
                   top: calc(100% + 10px);
                   opacity: 1;
                   visibility: visible;
                   pointer-events: auto;
               }
            }
            .add_exercise {
                width: fit-content !important;
                border-radius: 10px;
                padding: 6px 15px;
            }
            

            input {
                width: 100%;
                padding: 5px 10px;
                border-radius: 20px;
                font-weight: bolder;
                font-size: 17px;
                cursor: pointer;
            }
            .add_exercise, .add_group {
                border: solid 1px #a38be440;
                background: #a38be410;
            }
            .finish_exercise {
                border: solid 1px #8bc7e440;
                background: #8bd3e40f;
            }
            input:hover, li:hover { box-shadow: inset 0 0 0 100vw #0001; }
        }

        .plan_history {
            padding: 0 25px 25px 25px;
            
            a {
                cursor: pointer;
                text-decoration: underline;
                opacity: .5;
            }
            a:hover { opacity: .7; }

            p { margin-top: 10px; opacity: .8; }
            p:not(.visible), br:last-child { display: none; }
        }
    }
    .plans { padding-bottom: 15px; }
    .plan:not(.editingMode) {
        padding-bottom: 15px;
        td.remove, .set_row.add_set, .underTableBtns { display: none; }
        td:has(+ .remove) { border-right: none; }
    }

    .workoutHistory {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        > div {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h2 { opacity: .9; }
            h3 { opacity: .8; }
            p { opacity: .7 }
        }
    }
}


/* Fixed up styling for mobile devices */
@media (max-width: 1150px) {
    .login_select form > div { flex-direction: column; }
    .login_select form button { width: 100%; }

    section.mainWidget .editBtns + div { margin-top: 15px; }
    section.mainWidget .editBtns {
        position: relative;
        transform: none;
        top: 0;
        display: flex;
        flex-direction: row;
        gap: 15px;

        > * {
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }

    .planTable tbody {
        width: 100%;
        .set_row .set_row_plan_setNote button { display: none; }
        tr {
            th { padding-bottom: 6px !important; }
            td {
                padding: 0 3px 8px !important;
                min-width: 0 !important;
                border: none !important;
                width: 100%;

                input { width: 100%; }
            }
        }
        .set_row.hide_set { display: table-row !important; }
    }

    .groupTable {
        th, tr:first-child, td:not([data-label]) { display: none !important; }
        tr { display: block; }
        tr:not(:last-child) {
            margin-bottom: 12px;
            padding-bottom: 12px;
            border-bottom: 1px solid #fff4;
        }
        td {
            width: 100%;
            border: none !important;
            display: flex !important;
            gap: 8px;
        }
        td::before {
            content: attr(data-label);
            font-weight: bold;
        }
        .addPlanBtn { width: 45px !important; }
    }

    .editForm div input { min-width: 50px !important; }
    .editForm div button span { display: none; }
    .editForm div button::before { margin: 0 !important; }
}

/* Fixed up styling for mobile devices */
@media (max-width: 450px) {
    body {
        width: 100vw;
        padding: 15px 0 15px;

        .editBtns { padding-inline: 15px; }
        .groups, .plans, .plan {
            border-radius: 0 !important;
            border-inline: none !important;
        }
    }

    .editBtns, .underTableBtns { 
        flex-direction: column !important;
        .btn1 { width: calc(100% - 30px) !important; }
    }

    .groupsList > a {
        svg { display: none; }
    }

    .planTable tbody {
        display: flex;
        flex-direction: column;

        tr[id^="exercise_"], .set_row.add_set { 
            display: flex;
            th:not([class]) { display: none; }

            th, td { width: 100%; }
        }
        tr[id^="exercise_"]:not(:first-child) {
            margin-top: 10px;
            th::before {
                content: " ";
                position: absolute;
                width: calc(50% - 25px);
                height: 2px;
                border-radius: 9em;

                transform: translate(0, -8px);
                background: var(--primary);
                opacity: .1;
            }
        }
        .set_row:not(.add_set), .set_row.hide_set:not(.add_set) {
            display: grid !important;
            align-items: center;
            column-gap: 5px;
            grid-template-columns: repeat(2, 1fr);

            .set_row_plan_setNote {
                grid-column-start: 1;
                grid-column-end: 4;
            }
        }
        .set_row:not(.add_set)::before, .set_row.hide_set:not(.add_set)::before {
            content: attr(data-label);
            margin: 0px 0px 4px 5px;
        }
    }
}